:root {
  --darkness: #0A1612;
  --thought_patterns_r: #721318;
  --thought_patterns_p: #af5151;
  --aluminum: #D9D9D9;
  --trying_w: #ecf0f5;
  --trying_b: #f5f1ec;
  --grayness: #EEEEEE;
}

* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: var(--trying_w);
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
}

header {
  color: var(--darkness);
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: solid 2px;
  border-bottom-color: var(--darkness);
}

ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--darkness);
  text-decoration: none;
}

p  {
  font-size: 16px;
  color: var(--darkness);
}

.primary-navigation {
  list-style-type: none;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header div {
  padding-top: 30px;
  margin-right: 0px;
  float: right;
  font-size: 24px;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 8%;
}

section.section-column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
}

.section-column .section-lr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
}

.section-column .section-lr .section-title {
  width: 135px;
  padding-right: 12px;
}

.section-column .section-lr .section-content {
  border-left: solid 2px;
  border-left-color: var(--darkness);
  padding-left: 12px;
}

.section-column p {
  border-left: solid 2px;
  border-left-color: var(--darkness);
  padding-left: 12px;
}

.section-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.proj-tiles {
  background: var(--trying_w);
  height: 30vh;
  min-width: 320px;
  border: solid 2px var(--darkness);
  position: relative;
  margin: 7px;
  flex: 1 0 auto;
}

.tile-label {
  background-color: var(--darkness);
  color: var(--trying_w);
  height: -moz-fit-content;
  width: -moz-fit-content;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 8px;
  opacity: 0.60;
}

.tile-label p {
  font-size: 10px;
}

.tile-label h4, .tile-label p {
  color: var(--trying_w);
  background-color: unset;
}

.tile-others {
  order: 1;
  flex: 1 1 auto;
}

.contact-links {
  text-decoration: none;
  display: flex;
  flex: 1 1 100%;
}

.contact-links li {
  padding-right: 72px;
}

#tile-head {
  order: 0;
  flex: 2;
  flex-basis: 100%;
  min-width: 320px;
  position: relative;
  background-image: url("./assets/images/IMG_4642_1.JPG");
  background-size: cover;
}

#tile-b {
  background-image: url("./assets/images/IMG_4712_3.JPG");
  background-size: cover;
}

#tile-c {
  background-image: url("./assets/images/IMG_4722.JPG");
  background-size: cover;
}

#tile-d {
  background-image: url("./assets/images/IMG_4773_1.JPG");
  background-size: contain;
}

#tile-e {
  background-image: url("./assets/images/IMG_4815_1.jpg");
  background-size: contain;
}

@media screen and (max-width: 768px) {
  main,
  .section-container {
    flex-direction: column;
    margin-left: 2%;
  }
}